.slide-fade-enter-active[data-v-7d8ccd74]{transition:all .8s ease}.slide-fade-enter-from[data-v-7d8ccd74]{transform:translate(-100%);opacity:0}.slide-fade-enter-to[data-v-7d8ccd74]{transform:translate(0);opacity:1}
