.slide-fade-enter-active[data-v-fdcadd3c]{transition:all .8s ease}.slide-fade-enter-from[data-v-fdcadd3c]{transform:translate(-100%);opacity:0}.slide-fade-enter-to[data-v-fdcadd3c]{transform:translate(0);opacity:1}
